* {
    font-family: georgia;
    background-color: wheat;
}

li {
    color:seagreen;
}

table {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 10em;
    margin-right: 10em; 
    border-spacing: 1.3em;
}

