h1 {
    color: #800098;
    background-color: rosybrown;
    border: 2px dotted;
    border-right: 2px dotted;
    border-bottom: 2px dotted;
}

p {
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif
}