* {
  color: #5e5e5e;
  font-family: serif;
}

body {
  margin-left: 5%;
  margin-right: 5%;
  background-color: #EAE1D0;
}

nav {
    background-color: #475E67;
    overflow: hidden;
    font-weight: 700;
  }
  
  nav a {
    float: left;
    color: #dbd3d8;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    font-size: 1.2rem;
  }
  
  nav a:hover {
    background-color: #A4B4BE;
    color: #919191;
  }

footer {
    text-align: center;
    font-size: .9rem;
    font-family: sans-serif;
  }

#About {
    padding-bottom: 3rem;
}

h1 {
  text-align: center;
  padding-top: .9rem;
  padding-bottom: .9rem;
  font-size: 3rem;
}

#About .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  max-width: 300%;
  max-height:150%;
  position: sticky;
}

.text {
  font-size: 1rem;
  float: left;
  padding-left: 25%;
}


#Authors {
  padding-top: 4rem;
  padding-bottom: 3rem;
}

#Authors .item {
  margin: 2%;
  padding: 2%;
  background: #E0EDEE;
  color: #475E67;
  font-size: 100%;
  text-align: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#Authors .item img {
  width: 100%;
  height: 100%;
  object-fit: container;
}
  
#Authors .container {
  margin-left: 20%;
  margin-right: 20%;
  display: flex;
  flex-direction: row;
}

#Books {
  padding-top: 4rem;
  padding-bottom: 3rem;
}

#Adaptations {
  padding-top: 4rem;
  padding-bottom: 3rem;
}

#Recommendations {
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 3rem;
  line-height: 2.5rem;
  font-size: 1rem;
}
