nav {
    background-color: #475E67;
    overflow: hidden;
    font-family: serif;
    font-weight: 700;
  }
  
  nav a {
    float: left;
    color: #dbd3d8;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    font-size: 1.2rem;
  }
  
  nav a:hover {
    background-color: #A4B4BE;
    color: #919191;
  }

footer {
    text-align: center;
    font-size: .9rem;
    font-family: sans-serif;
  }

#About {
    padding-bottom: 5rem;
}

#Authors {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

#Books {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

#Adaptations {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

#Recommendations {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
